{% extends "base.html" %}

{% block content %}
    {% for post in post_list %}
        <!--<div class="row">
            <div class="col-md-8">-->
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
        <h5>{{ post.created }}</h5>
        <p>{{ post.content|truncatewords:20 }}</p>
        <hr>
        <!--</div>
    </div>-->
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
    </div>
{% endblock content %}