{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block script %}
    <script type="text/javascript" src='{% static "js/like.js" %}'></script>
{% endblock script %}

{% block content %}
    <h1>{{ title }}</h1>
    <p class="lead"> {{ author_info.username }} &emsp;
        <span class="glyphicon glyphicon-time"></span> {{ post_detail.created }}</p>
    {% if updated%}
        <p>Дата обновления: {{ post_detail.updated }}</p>
    {% endif %}
    <p>Рейтинг: <span id="rating">{{ rating }}</span></p>
    <hr>
    <p class="lead">{{ post_detail.content }}</p>
    <hr>
    {% if post_detail.image %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{ post_detail.image.url }}" class="img-responsive"/>
            </div>
        </div>
        <hr>
    {% endif %}
    {% if video %}
        <div class="row">
            <div class="col-md-4">
                <iframe width=auto height=auto src={{ video }} frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <hr>
    {% endif %}
    {% if liked %}
        <input type="button" id="liked" class="btn btn-default disabled" name="{{ post_detail.id }}" value="Like"/>
    {% else %}
        <input type="button" id="like" class="btn btn-default" name="{{ post_detail.id }}" value="Like"/>
    {% endif %}
    <input onclick='location.href="./comment_create"' type="submit" class="btn btn-default" value="Комментировать"/>
    {% if may_updated %}
        <input onclick='location.href="./edit/"' type="submit" class="btn btn-default" value="Изменить"/>
    {% endif %}

    <hr>
    {% for comment in comments %}
    <div class="media">
        <a class="pull-left" href="#"></a>
        <div class="media-body">
            <h4 class="media-heading"> {{ comment.author_id }} &emsp;
                <small>{{ comment.created_on }}</small>
            </h4>
            {{ comment.text }}
        </div>
    </div>
    {% endfor %}
{% endblock content %}