{% extends "base.html" %}

{% block content %}
<h1>{{ user.username }}</h1>
    <h2>{{ user.last_name }} {{ user.first_name }}</h2>
    <h4>Дата регистрации: {{ user.date_joined }}</h4>
    <hr>
    {% if posts %}
    <div class="table">
        <table class="table table-hover ">
            <thead>
            <tr>
                <th class="header"> Название поста</th>
                <th class="header"> Дата публикации </th>
                <th class="header"> Дата изменения </th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                    <td>{{ post.created }}</td>
                    <td>{{ post.updated }}</td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock content %}